@media only screen and(max-width : 1024px){
    .navigation{
     width: 100%;
     height: 100%;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 100;
     background: #c43a3a84;
    }
 
    .menu{
     width: 15rem;
     height:100%;
     position: absolute;
     top: 0;
     right: 0;
     background: #fff;
     z-index: 200;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    }
 }